//colors
$main-color: #5755ff;
$secundary-color: #ff8f6b;
$light-color: #e2e1ff;

//titles
h1 {
    font-weight: 700;
    color: #222;
    font-size: 40px;
    margin: 0 0 20px;

    @media(max-width: 768px) {
        font-size: 24px;
    }
}